*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.run{
    width: 27vw;
    height: 64vh;
    background-color: hsl(276, 60%, 67%);
    padding-top: 18%;
    border-bottom-right-radius: 90%;
    border-bottom-width: 10%;
}

.walk{
    width: 18vw;
    height: 73vh;
    background-color: whitesmoke;
    position: absolute;
    top: 10%;
    left: 20%;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 10px 18px hsl(0, 1%, 74%);
}

.in{
    width: 17vw;
    height: 69vh;
    background-color: antiquewhite;
    border-radius: 27px;
    position: absolute; 
    padding-left: 12px;
    padding-bottom: 24px;
}

.out{
    width: 10vw;
    height: 5vh;
    background-color: whitesmoke;
    position: absolute;
    left: 20%;
    top: -10px;
    border-radius: 15px;
    padding-left: 5%;
    z-index: 1;
}

.move{
    width: 18vw;
    height: 12vh;
    background-color: hsl(276, 100%, 81%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    position: absolute;
    left: 1px;
    top: 1px;
    padding-left: -10px;
    
    
}

img{
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 25px;
    border: 1px solid white;
}

.oh{
    font-size: 13px;
    position: absolute;
    top: 35px; 
    left: 60px;
    color: hsl(210, 20%, 96%);
    font-weight: 500;
}

.no{
    font-size: 10px;
    position: absolute;
    top: 55px;
    left: 60px;
    color: hsl(210, 20%, 96%);
}

.fine{
    position: absolute;
    top: 40px;
    left: 210px;
    color: hsl(210, 20%, 96%);
    font-weight: 600
}

.sense{
    position: absolute;
    top: 42px;
    left: 12px;
    color: hsl(210, 20%, 96%);
    font-weight: 600
}

.holy{
    width: 68%;
    height: 9%;
    background-color: aquamarine;
    position: absolute;
    top: 20%;
    border-radius: 13px;
    border-bottom-left-radius: 6px;
}

.word{
    font-size: 12px;
    color: blueviolet;
    position: absolute;
    top: 5px;
    left: 6px;
}

.fact{
    font-size: 12px;
    color: blueviolet;
    position: absolute;
    top: 22px;
    left: 8px;
}




































